@import './reset/reset';
@import './variables/global';
@import './themes/dark.theme';
@import './themes/light.theme';
@import './fonts/fonts';

body {
  font: var(--font-m);
  width: 100%;
  color: var(--primary-text-color);
}

.app {
  min-height: 100vh;  
  position: relative;
  background: var(--main-bg-color);
  transition: all 0.3s ease-out;
}

.app-wrapper {
  min-height: inherit;
  display: flex;
  width: 100%;
  padding: 30px;
}

.page-wrapper {
  flex-grow: 1;
  padding: 50px 30px;
}