@import './reset/reset';
@import './variables/global';
@import './themes/dark.theme';
@import './themes/light.theme';
@import './fonts/fonts';

body {
  font: var(--font-m);
  width: 100%;
}

.app {
  position: relative;
  background: var(--main-bg-color);
  color: var(--primary-text-color);
  transition: all 0.5s ease-out;
}

.content-page {
  height: 100%;
  display: flex;
  width: 100%;
  padding: 30px;
  min-height: 100vh;
}

.page-wrapper {
  flex-grow: 1;
  padding: 50px 30px;
}