.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wrapper>svg {
  color: var(--main-accent-color);
}

.switcher {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.switcherBody {
  width: var(--switcher-width);
  border: 2px solid var(--main-accent-color);
  border-radius: 16px;
  height: 24px;
  position: relative;
}

.switcherBody:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  transition: transform 0.3s ease-in-out;
}

.light-mode::before {
  transform: translate(3px, -50%);
}

.dark-mode::before {
  transform: translate(calc(var(--switcher-width) - 100% - 8px), -50%);
}