.title {
  font: var(--font-l);
}

.text {
  font: var(--font-m);
}

.primary {
  .title {
    color: var(--primary-text-color);
  }
  
  .text {
    color: var(--primary-text-color);
  }
}

.error {
  .title {
    color: var(--error-color);
  }
  
  .text {
    color: var(--error-color);
  }
}