.button {
  cursor: pointer;
  color: var(--primary-text-color);
  outline: none;
  padding: 0;

  &:hover {
    transition: all .2s ease-in-out;
    box-shadow: var(--button-presed-shadow);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.primary {
  min-width: 250px;
  max-width: 325px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--button-bg);
  border: var(--button-border);
  box-shadow: var(--button-shadow);
  text-align: center;
}

.isActive {
  background-color: var(--main-accent-color);
  box-shadow: none;
}

.pannel {
  width: 64px;
  height: 32px;
  border-radius: 20px;
  background-color: var(--button-bg);
  border: var(--button-border);
  box-shadow: var(--button-shadow);
}

.round {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--button-bg);
  border: var(--button-border);
  box-shadow: var(--button-shadow); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  background-color: var(--button-bg);
  border-radius: var(--main-border-radius);
  border: var(--button-border);
  box-shadow: var(--button-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}