.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  color: var(--primary-text-color);
}


.outline {
  padding: 15px 25px;
  background: none;
  border: 2px solid var(--main-accent-color);
  color: var(--primary-text-color);
  border-radius: 15px;
}