.app.dark-mode {
  --main-bg-color: #212631;
  --secondary-bg-color: #0A0E15;
  --main-accent-color: #BEEFE8;
  --second-accent-color: #8EB2EB;
  --third-accent-color: #DCB6F7;
  --error-color: #E9A5AD;
  --primary-text-color: #FFFFFA;
  --inverted-text-color: #0A0E15;
}