.app.light-mode {
  --main-bg-color: #C5C5CB;
  --secondary-bg-color: #B2B1B1;

  --main-accent-color: #242824;
  --second-accent-color: #6126F5;
  --third-accent-color: #C086EA;
  --error-color: #D1757E;

  --primary-text-color: #0A0E15;
  --inverted-text-color: #FFFFFA;
}