:root[data-theme="light-mode"] {
  // Main
  --main-bg-color: #DCE2E8;
  --main-accent-color: #E79B9D;;
  --error-color: #b3202f;
  --primary-text-color: #334669;
  --inverted-text-color: #FFFFFA;

  // Widgets
  --widget-bg: #E4F0FA;
  --widget-border: none;
  --widget-popup-bg: var(--widget-bg);
  --widget-popup-border: 2px solid #FEFEFE;
  --widget-shadow: 15px 15px 30px rgb(170 187 201 / 40%);

  // Buttons
  --button-bg: #e6eef8;
  --button-border: 2px solid rgb(151 151 151 / 10%);
  --button-shadow: 2px 9px 30px #aabbc9, -8px 5px 12px #f4f8fb, -13px -7px 15px #f6fbff, -7px -7px 12px #fff;

  // Inputs
  --input-bg: #E3EDF7;
  --input-shadow: inset 0px 2px 4px #c8d4e2, inset 4px 2px 6px #b0c4d4, inset 3px 6px 6px #c3d7e7, inset -6px -3px 5px #ffffffc0;
  --input-placeholder-color: #9BB9D3;

  // Icons
  --main-icon-color: #9BB9D3;
  --second-icon-color: #C8D6E5;

  // Overlay
  --overlay-color: rgba(0 0 0 20%)
}