.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbarLinks {
  margin-left: auto;
  display: flex;
  gap: 15px;
}