.error-boundary-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font: var(--font-m);
  background-color: var(--main-bg-color);
  color: var(--primary-text-color)
}